.ai-assistant-container {
  display: block;
  background: var(--background-secondary);
  padding: 10px;
  border-radius: 10px;
  margin-top: auto;
}


::ng-deep tui-alert {
  margin: auto 24px 108px auto !important;
  inline-size: max(50vw, 18rem) !important;
}

.ai-assistant-input-line {
  width: 100%;
  margin-bottom: 8px;
}

.ai-assistant-enter-icon {
  transform: scaleX(-1);
}

.ai-assistant-humanize-switch {
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content auto;
  column-gap: 8px;

  p {
    margin: 0;
    justify-self: left;
    font-weight: 500;
  }
}
