<header class="page-header">
  <p class="h1 page-title">{{ isFilterOpened ? 'Тикеты' : '' }}</p>
  <button
    tuiButton
    appearance="info"
    class="btn create-item-btn"
    (click)="onCreateNewItem()"
  >Создать тикет</button>
</header>
@if (isFilterOpened) {
  <app-filter-block
    [fields]="fieldsPlaceholders"
    filterText="Найти тикет"
    title="Поиск по тикетам"
    (onFilter)="fields = changeFilter($event)"
  ></app-filter-block>
}

<app-table-page
  title="Тикеты"
  class="items-table"
  [columns]="columns"
  [loadFn]="fetchItems"
  (OnFilter)="isFilterOpened = !isFilterOpened"
></app-table-page>
