<p class="h1 filter-title">
  {{ title }}
  @if (closable) {
    <tui-icon
      [icon]="isClosed ? 'panel-top-open' : 'panel-top-close'"
      (click)="isClosed = !isClosed"
    ></tui-icon>
  }
</p>
@if (!isClosed) {
  <div class="input-container">
    @for (option of processedOptions; track $index) {
      <div class="filter-input">
        @if (isInitialized) {
          @let placeholder = option.placeholder ?? '';
          @let control = getFormControl(option.key);
          <app-input-container
            [type]="option.type ?? 'text'"
            [control]="control"
            [placeholder]="placeholder"
            [params]="{
              select: { options: option.options ?? [] },
              multipleSelect: { options: option.options ?? [], sorted: true },
              number: { min: 0, max: 1000000 }
            }"
          ></app-input-container>
        }
      </div>
    }
  </div>
  <button class="filter-button" (click)="onFindButton()" tuiButton>{{ filterText }}</button>
}
