<app-filter-block
  [filterOptions]="filterOptions"
  filterText="Показать статистику"
  title="Параметры статистики"
  (onFilterItems)="onUpdateFilters($event)"
  (waResizeObserver)="onFilterResize($event)"
></app-filter-block>
<tui-scrollbar
  [style.block-size]="blockSize()"
  class="charts-scrollbar"
>
  <div class="charts-container">
    <app-new-users-by-year-month-chart
      class="stats-chart"
      [params]="statsParams()"
    ></app-new-users-by-year-month-chart>
    <app-cancellations-by-area-chart
      class="stats-chart"
      [params]="statsParams()"
    ></app-cancellations-by-area-chart>
    <app-busiest-hours-chart
      class="stats-chart"
      [params]="statsParams()"
    ></app-busiest-hours-chart>
  </div>
</tui-scrollbar>

