<app-table-page
  title="Брони"
  tableTitle="Список броней"
  filterButton="Найти бронь"
  filterTitle="Поиск брони"
  [columns]="columns"
  [createFn]="createItemFn"
  [deleteFn]="deleteItemFn"
  [editFn]="editItemFn"
  [loadFn]="loadItemsFn"
  [transformParamsFn]="transformParamsFn"
  [transformPatchFn]="transformPatchFn"
  [filterOptions]="filterOptions"
  [creationConfig]="creationConfig"
  [editionConfig]="editionConfig"
  [deletionConfig]="deletionConfig"
  [editable]="true"
  [deletable]="true"
></app-table-page>
