<p class="h1 block-title">{{ context.data.title ?? 'Создание' }}</p>
<form [formGroup]="creationForm" (ngSubmit)="onSubmit()" class="creation-block-form">
  @for (config of context.data.options; track $index) {
    <div class="input-container">
      <label class="input-label" tuiLabel>{{ config.label ?? config.key }}</label>
      @switch (config.type) {
        @case ("select") {
          <tui-textfield
            tuiChevron
            [stringify]="stringify"
            [identityMatcher]="matcher"
          >
            @if (isError(getFormControl(config.key))) {
              <label class="invalid-creation-input" tuiLabel>
                {{ getError(getFormControl(config.key)) }}
              </label>
            }
            <input
              tuiSelect
              [formControl]="getFormControl(config.key)"
            />

            <tui-data-list-wrapper
              *tuiTextfieldDropdown
              new
              [items]="config.options ?? null"
            />
          </tui-textfield>
        }
        @case ("multiple") {
          <tui-textfield
            multi
            tuiTextfieldSize="l"
          >
            @if (isError(getFormControl(config.key))) {
              <label class="invalid-creation-input" tuiLabel>
                {{ getError(getFormControl(config.key)) }}
              </label>
            }
            <input
              [placeholder]="config.placeholder ?? ''"
              tuiInputChip
              [unique]="false"
              [separator]="chipSep"
              [formControl]="getFormControl(config.key)"
            />
            <tui-input-chip *tuiItem />
          </tui-textfield>
        }
        @case ("number") {
          <tui-textfield>
            @if (isError(getFormControl(config.key))) {
              <label class="invalid-creation-input" tuiLabel>
                {{ getError(getFormControl(config.key)) }}
              </label>
            }
            <input
              tuiInputNumber
              [placeholder]="config.placeholder ?? ''"
              [max]="1000000"
              [min]="0"
              [step]="1"
              [formControl]="getFormControl(config.key)"
              (keydown.arrowDown)="onNumericStep(getFormControl(config.key), -1)"
              (keydown.arrowUp)="onNumericStep(getFormControl(config.key), +1)"
            />
          </tui-textfield>
        }
        @default {
          <tui-textfield>
            @if (isError(getFormControl(config.key))) {
              <label class="invalid-creation-input" tuiLabel>
                {{ getError(getFormControl(config.key)) }}
              </label>
            }
            <input
              [placeholder]="config.placeholder ?? ''"
              tuiTextfield
              [invalid]="false"
              [formControl]="getFormControl(config.key)"
            />
          </tui-textfield>
        }
      }
    </div>
  }
  <button
    type="submit"
    tuiButton
    class="create-button"
    [disabled]="creationForm.invalid"
  >{{ context.data.button ?? 'Создать' }}</button>
</form>
