<header class="page-header">
  <p class="h1 page-title">{{ isFilterOpened ? title : '' }}</p>
  @if (canCreate) {
    <button
      tuiButton
      appearance="info"
      class="btn create-item-btn"
      (click)="onCreateNewItem()"
    >{{ creationConfig.button ?? creationConfig.title ?? '' }}</button>
  }
</header>
@if (isFilterOpened) {
  <app-filter-block
    [filterOptions]="filterOptions"
    [filterText]="filterButton"
    [title]="filterTitle"
    (onFilterItems)="onUpdateFilters($event)"
  ></app-filter-block>
}

<app-items-table
  [title]="title"
  class="items-table"
  [columns]="columns"
  [loadFn]="transformRequestFn"
  (OnFilterOpened)="isFilterOpened = !isFilterOpened"
  (OnDelete)="onDeleteItem($event)"
  (OnEdit)="onEditItem($event)"
  [(params)]="filterResult"
></app-items-table>
